<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<style type="text/css">
		.error{color: red}
		.success{color: green}
		.font{font-size: 100px;}
	</style>
	<script type="text/javascript" src="vue.js"></script>
	<script type="text/javascript" src="axios.js"></script>
	<script type="text/javascript" src="lodash.js"></script>
</head>
<body>
	<div id="app">
		<h1 v-if="status">Sup_</h1>
		<h2 v-show="status">DU</h2>
		<input type="checkbox" v-model="status"></input>
	</div>
	
	<script type="text/javascript">
		var app = new Vue({
			el:'#app',
			data: {
				status:true
			}
		})
	</script>
</body>
</html>
