<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<style type="text/css">
		.error{color: red}
		.success{color: green}
		.font{font-size: 100px;}
	</style>
	<script type="text/javascript" src="vue.js"></script>
	<script type="text/javascript" src="axios.js"></script>
	<script type="text/javascript" src="lodash.js"></script>
</head>
<body>
	<div id="app">
		<li v-for="v in comments">
			{{v.content}}
		</li>
		<textarea v-model="current_content"></textarea><br/>
		<button v-on:click="push">发表</button>
	</div>
	
	<script type="text/javascript">
		var app = new Vue({
			el:'#app',
			data: {
				current_content:'',
				comments:[
					{content:'S1'},
					{content:'S2'},				
				]
			},
			methods:{
				push(){
					var content = {content:this.current_content}
					this.comments.push(content);
					this.current_content="";
				}
			}
		})
	</script>
</body>
</html>
