<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<style type="text/css">
		.error{color: red}
		.success{color: green}
		.font{font-size: 100px;}
	</style>
	<script type="text/javascript" src="vue.js"></script>
	<script type="text/javascript" src="axios.js"></script>
	<script type="text/javascript" src="lodash.js"></script>
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	 
	<!-- 可选的Bootstrap主题文件（一般不使用） -->
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>
	 
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	 
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div id="app">
		<sp-news :show-del-button="1"  :lists="goods" @sum="total"></sp-news>
		总计: {{totalPrice}}
	</div>
	<script type="text/x-template" id="spNews">
		<table border="1" width="80%">
			<thead>
				<th>商品名称</th>
				<th>商品价格</th>
				<th>商品数量</th>
			</thead>
			<tbody>
				<tr v-for="(v,k) in lists">
					<td>{{v.title}}</td>
					<td>{{v.price}}</td>
					<td>
						<input type="text" v-model="v.num" @blur="sum"></input>
					</td>
				</tr>
			</tbody>
		</table>
	</script>
	<script type="text/javascript">
		var spNews ={
			template:"#spNews",
			props:['lists'],
			methods:{
				sum(){
					this.$emit('sum');
				}
			}
		};
		var app = new Vue({
			el:'#app',
			components:{spNews},
			mounted(){
				this.total();
			},
			data:{
				totalPrice:0,
				goods:[
					{title:'s',price:100,num:1},
					{title:'p',price:200,num:2},
				]
			},
			methods:{
				total(){
					this.totalPrice=0;
					this.goods.forEach((v)=>{
						this.totalPrice+=v.num*v.price;
					})
				}
			}
		});
	</script>
</body>
</html>
